<ion-row class="login-grid">
  <ion-col size="12" sizeMd="6" sizeLg="5" sizeXl="4">
    <div class="c-card">
      <div class="login-logo">
        <img src="{{authService.logo_url}}" class="login-logo__img">
        <h1 class="login-logo__text">To Reset Your Password</h1>
      </div>
      <form #form="ngForm" (ngSubmit)="forgot(form.value)" novalidate>
        <div class="c-form__field">
          <input type="text" class="c-form__input" placeholder="Enter UID / Mobile No" type="text" name="user_id" ngModel required #user_id="ngModel"
            [class.invalid]="user_id.errors && user_id.dirty">
          <ion-item class="error-message" *ngIf="user_id.errors?.required && user_id.dirty">UID is required</ion-item>
        </div>
        <div class="c-form__field">
          <button type="submit" class="c-button c-button--primary c-button--fullwidth" [disabled]="!form.valid">Submit</button>
        </div>
      </form>
    </div>
    <div class="login-paragraph">
      <div class="login-paragraph__text">
        You Know Password <a (click)="login()" class="login-paragraph__link">Login</a>
      </div>
    </div>
  </ion-col>
</ion-row>
  
